{% extends 'home/base.html' %}

{% block nav_item %}
{% include 'home/nav_bar.html' %}
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1 class="text-center">Shorten URL</h1>
    <form method="POST" class="mt-4 text-center">
      {% csrf_token %}
      {{ form.as_table }}
      <button type="submit" class="btn btn-primary">Shorten URL</button>     
    </form>
  </div>
  <div class="container"><p></p></div>
{% endblock %}
