{% extends 'home/base.html' %}

{% block nav_item %}
{% include 'home/nav_bar.html' %}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">You are being redirected to:</h2>
    <p class="text-center">{{ original_url }}</p>
    <p class="text-center">Please wait a moment...</p>       
</div>

<script>
    setTimeout(function() {
            window.location.href = '{{ original_url }}';
        }, 3000); // Change this value to adjust the delay time
</script>
{% endblock %}
