{% extends 'home/base.html' %}

{% block nav_item %}
{% include 'home/nav_bar.html' %}
{% endblock %}

{% block content %}
<div class="text-center">
  <h1 class="text-center">Shorten URL</h1>
  <p class="text-center">Your shortened URL is:</p>
  <a class="text-center" href="{{ shortened_url }}">{{ shortened_url }}</a>
  <img src="{{img}}" class="img-thumbnail" width="100">
</div>
{% endblock %}