{% extends 'home/base.html' %}

{% block nav_item %}
{% include 'home/nav_bar.html' %}
{% endblock %}

{% block content %}

</style>
<div class="container">
<h1 class="text-center">QRCode 生成器</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <textarea class="form-control" placeholder="你要變成 QRcode 的網址或一段話" name="content" rows="7" required></textarea>
    </div>
    <div>
      <p class="h3">顏色：<input type="color" id="color-picker" name="color-picker"></p>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% if img %}
<p class="h2">您的 QRcode：<img src="{{img}}" class="img-thumbnail" width="100"></p>
{% endif %}
</div>
{% endblock %}