<!DOCTYPE html>
<html>
<head>
  <title>K&L</title>
  <!-- Bootstrap CSS -->
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  {% block headSetting %}{% endblock %}
</head>
<body style="padding-bottom: calc(100px + 2rem);">

    <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="/">K&L</a>
  </nav>

  {% block content %}{% endblock %}

  <!-- Footer -->

  <footer class="footer bg-secondary">
    <div class="container text-center">
      <span class="text-light">Copyright &copy; 
        <script>document.write(new Date().getFullYear())</script> 
        K&L. All rights reserved.
      </span>
    </div>
  </footer>
  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-9kAGsWYfCHVKlN25eEhNIs8QnWrtzZT3q/qlKjZrP8WAlTAC+FKAVhJ+bMwRkvHQ8LJ1+T99qJX9jGOpSt+8Ww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
