{% extends 'home/base.html' %}

{% block content %}
<!-- Cards -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header">
            <h5 class="card-title">Shorten URL 短網址</h5>
          </div>
          <div class="card-body">
            <p class="card-text">To shorten your url.</p>
            <p class="card-text">讓你的網址變成短網址。</p>
            <a class="btn btn-secondary" href="/url">GO~!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header">
            <h5 class="card-title">Add Titles 自動標題</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Copy and paste your link html and it returns you a title added version.</p>
            <p class="card-text">把 html 貼進來，自動幫你在超連結新增 title。</p>
            <a class="btn btn-secondary" href="add_title">GO~!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header">
            <h5 class="card-title">Leave My Message 留言</h5>
          </div>
          <div class="card-body">
            <p class="card-text">You left a message and get an url, others can access it and comment on it.</p>
            <p class="card-text">留言、取得連結。有連結的人可以進入並留言。</p>
            <button class="btn btn-secondary">開發中</button>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}