{% extends 'home/base.html' %}
{% block headSetting %}

{% endblock %}

{% block nav_item %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a href="/" class="nav-link">K&L</a>
</ul>
{% endblock %}
{% block content %}
  <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
  <script defer src="https://pyscript.net/latest/pyscript.js"></script>


  <div class='container'>
    <h1>複製貼上要加入 title 的文章全文</h1><br>
    <div class='input-group'>
      <div class="input-group-prepend">
      <button py-click="click_event()" id='btn' class="btn btn-outline-secondary">加入Title!</button>
      </div>
      <textarea class='form-control' id='doc' class='py-input'></textarea>  
    </div>
  </div>
  
  <div class='container'>
    <h1>全選複製以下結果貼回去</h1><br>
    <div class='input-group'>
      <div class="input-group-prepend">
      <button onclick="copy_to_clipboard()" class="btn btn-outline-secondary">Copy!</button>
      </div>
      <textarea class='form-control' id='result'></textarea>      
    </div>
  </div>


<py-config>

packages = [
  "beautifulsoup4",

]
</py-config>
<py-script>

from bs4 import BeautifulSoup
from js import document, console

def convert(text):
  soup = BeautifulSoup(text,"html.parser") 
  sel = soup.select("a") 
  for s in sel:
      s['title'] = s.text
  return soup


def click_event():
  doc = Element('doc')
  result = Element('result')
  ans = convert(doc.value)
  result.write(str(ans))
</py-script>
<script type="text/javascript">
  function copy_to_clipboard(){
    const element = document.getElementById('result');
    element.select();
    element.setSelectionRange(0,99999999);
    document.execCommand('copy');
  }
</script>



{% endblock %}