<form method="post" action="/line_notify/send_message">
    {% csrf_token %}
    <div class="form-group">
        <input  class="form-control" type="text" name="name" placeholder="Name *" required>
    </div>
    <div class="form-group">
        <input class="form-control" type="email" name="email" placeholder="Email *" required>
    </div>
    <div class="form-group">
        <textarea class="form-control" placeholder="Message *" name="content" rows="7" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
