{% extends 'home/base.html' %}
{% block nav_item %}
{% include 'home/nav_bar.html' %}
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center mb-4">移除 PDF 密碼</h1>
        <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
          {% csrf_token %}
          <div class="form-group">
            <input type="file" name="pdf_file" accept="application/pdf" required class="form-control-file">
            <small class="form-text text-muted">選擇要移除密碼的PDF檔。</small>
            <div class="invalid-feedback">Please choose a PDF file.</div>
          </div>
          <div class="form-group">
            <label for="password">輸入原始密碼：</label>
            <input type="password" name="password" id="password" class="form-control">
          </div>
          <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">移除密碼！</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
